-if graders.count > 0
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-striped
        %thead
          %tr
            %th Username
            %th Number of Students
            %th Max Students
            %th Ungraded Submissions
            %th Graded Submissions
            %th Grader Info
        %tbody
          -graders.each do |grader|
            %tr
              %td= grader.username
              %td= pluralize(grader.students.count, 'student')
              %td= pluralize(grader.max_students, 'student')
              %td= pluralize(grader.submissions.ungraded.count, 'submission')
              %td= pluralize(grader.graded_submissions.count, 'submission')
              %td= link_to("View Grader Info", grader_path(grader))        
-else
  %p There are no graders