.container{style: "max-width:800px"}
  %h3 You are viewing info for the grader: #{@grader.username}
  -if @grader.students.present?
    %h4 #{@grader.username} is responsible for grading the following students:
    .row
      .col-md-10.col-md-offset-1
        %table.table.table-striped
          %thead
            %tr
              %th Username
              %th Student Info
          %tbody
            -@grader.students.each do |student|
              %tr
                %td= student.username
                %td= link_to("View Student Info", student_path(student))
  -else
    %p This grader has no students
  -if @grader.course.students.no_grader.count > 0 and session['role_type'] == 'administrator'
    %h4 The following are students that still need to have a grader assigned
    .row
      .col-md-10.col-md-offset-1
        %table.table.table-striped
          %thead
            %tr
              %th Username
              %th Assign Student
          %tbody
            -@grader.course.students.no_grader.each do |student|
              %tr
                %td= student.username
                %td= link_to("Assign Student to Grader", student_assign_grader_path(student, @grader))

    %p=link_to("Change to Student", grader_to_student_path(@grader), :class => 'btn btn-primary')          