<!DOCTYPE html>
<html>
<head>
  <title>EdxNinja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if session[:role_type].present? and session[:role_type] != "student" %>
  <div class="container"><a href="<%= root_path %>"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>  Reload</a></div>
<% end %>
<%= yield %>
</body>
</html>
