<!DOCTYPE html>
<html>
<head>
  <title>EdxNinja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="max-width:800px">
  <% if session[:role_type].present? and session[:role_type] != "student" %>
    <div class="row">
      <a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
      |
      <a href="<%= request.fullpath %>"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>  Refresh</a>
      </div>
  <% end %>
<!--   <div class="row">
    <a href="<%= clear_session_path %>">Clear Session</a>
  </div> -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%=key%>"><%= value %></div>
  <% end %>  
  <%= yield %>
</div>
</body>
</html>
